extends layout

block content
    h3= title
  
    <pre>
        <code class="javascript">
        p= codeSnip
        </code></pre>
  
    block comment

    form(action="/post_comment" method="POST")
    label(for="comment") comment
    input(type="text" name="comment" id="comment" required)
    button(class="btn" type="submit") Post

    

  
